#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-image: url("./assets/bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(3px);
  background-attachment: fixed;
}

#bg {
  background-color: #000000bb;
  padding: 30px 155px 50px;
  border-radius: 50px;
  box-shadow: 10px 10px 66px -2px rgba(0, 0, 0, 0.75);
}

@media (max-width: 768px) {
  #bg {
    max-width: 500px;
  }
}

@media (max-width: 480px) {
  #bg {
    max-width: 450px;
  }
}
